<div>
    <a href="/getdetails">Get Details</a>
    </div>
    <hr>
    
    <% if(details!=null) { %>
    <table>
    <tr>
        <th>Name/th>
        <th>Email </th>
        <th>Phone</th>
        <th>Last Visited </th>
        
    </tr>
    <% details.forEach(function(item){ %>
    <tr>
        <td><%= item.name%></td>
        <td><%= item.email %></td>
        <td><%= item.phone%></td>
        <td><%= item.lastVisited %></td>
    
    </tr>
    <% }) %>
    </table>
    <% } %>